.content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: sans-serif;
}

.theme{
    margin: 20px;
    padding: 16px;
    border-radius: 4px;
    background-color: rgba(0,0,0, .15);
    box-shadow: 6px 7px 8px rgba(0,0,0, 0.1);
    cursor: pointer;
}